/* Global app styling if any is needed later. Home styling moved to Home.css */
.App {
  margin: 0;
}

.page-transition {
  animation: pageFadeIn 0.5s ease-out forwards;
}

@keyframes pageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
